html,
body {
    background-color: #FCFCFC;
}

.daohanglan {
    height: 80px;
    border: 1px solid #e1e1e1;
    background-color: #fff;
}

.daohanglan img {
    margin-top: 10px;
}

.daohanglan-right {
    margin-top: 20px;
    float: right;
}

.daohanglan-right span:nth-child(1) {
    color: #999999;
    margin-right: 50px;
}

.nav {
    position: absolute;
    right: -30px;
    top: 20px;
}

.nav>li {
    position: relative;
    float: left;
    width: 80px;
    height: 41px;
    text-align: center;
}

.nav li a {
    display: block;
    width: 92px;
    height: 19px;
    color: #333;
}

.nav>li>a:hover {
    color: red;
}

.nav ul {
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    border-left: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
}

.nav ul li {
    border-bottom: 1px solid #CECECE;
}

.nav ul li a:hover {
    color: red;
}

.daohanglan-right a {
    color: #0066CC;
}

.neirong {
    background-color: #FCFCFC;
}

.neirong-left {
    float: left;
    width: 510px;
    height: 315px;
}

.neirong-right {
    position: absolute;
    right: 50px;
    width: 300px;
    height: 200px;
    margin-top: 20px;
    background-color: #fff;
    padding: 30px;
}

.neirong-right span {
    margin-bottom: 5px;
    float: left;
    margin-left: 20px;
}

.neirong-right a {
    margin-bottom: 5px;
    float: right;
    text-decoration: none;
    color: #0066CC;
    margin-right: 23px;
}

.neirong-right input {
    margin-bottom: 5px;
    margin-left: 20px;
    width: 250px;
    height: 35px;
}

.neirong-right a:nth-child(7) {
    width: 255px;
    height: 35px;
    background-color: red;
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
}

.neirong-right .title span {
    font-size: 27px;
    margin-top: 10px;
    color: red;
}

.neirong-right .title span:first-child {
    color: #10A8FF;
}

.neirong-right .title span:nth-child(3) {
    color: #10A8FF;
}

.neirong-right .title span:nth-child(5) {
    font-size: 10px;
    line-height: 35px;
    color: #999999;
}

.neirong-right .arrow {
    position: relative;
}

.content {
    display: none;
    padding-bottom: 30px;
}

.title img {
    transform: rotate(-180deg);
    transition: all 0.2s;
}

/* 小箭头旋转 */
.title img.arrow {
    transform: rotate(0deg);
}

.dibu p {
    text-align: center;
    margin-bottom: 10px;
}